In [2]:
import pandas as pd
# Leer un CSV existente
df_csv = pd.read_csv("../../datasets/day2/data_set2.csv")
print(df_csv.info())       # Resumen de tipos de datos
print(df_csv.describe())   # Estadísticas básicas
print(df_csv.columns)      # Nombres de columnas
print(df_csv.shape)        # Dimensiones (filas, columnas)

#Muestra los primeros 5 registros.
print('\n Muestra los primeros 5 registros. \n',df_csv.head(),' \n ')
#Filtra estudiantes con nota mayor a 80.
print('Filas donde Nota > 80 \n',df_csv[df_csv["Nota"] > 8], ' \n ')
#Calcula el promedio de edad y de nota.
print("\nEl promedio de edad es: ", round(df_csv["Edad"].mean(),2))
print("El promedio de nota es: ", round(df_csv["Nota"].mean(),2), ' \n')
#Muestra únicamente las columnas Nombre y Nota
print('Muestra únicamente las columnas Nombre y Nota \n',df_csv[["Nombre", "Nota"]]) # Varias columnas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nombre   10 non-null     object
 1   Edad     10 non-null     int64
 2   Carrera  10 non-null     object
 3   Nota     10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes
None
            Edad       Nota
count  10.000000  10.000000
mean   21.500000  85.700000
std     1.581139   8.590046
min    19.000000  71.000000
25%    20.250000  80.000000
50%    21.500000  86.500000
75%    22.750000  91.500000
max    24.000000  98.000000
Index(['Nombre', 'Edad', 'Carrera', 'Nota'], dtype='object')
(10, 4)

 Muestra los primeros 5 registros.
           Nombre  Edad                 Carrera  Nota
0   Sofía García    21  Ingeniería de Software    92
1    Carlos Ruiz    23                Medicina    85
2     Ana Torres    20            Arquitectura    79
3  Pablo Jiménez    22                 Derecho    95
4    María López    19              Psicología    88

Filas donde Nota > 80
             Nombre  Edad                     Carrera  Nota
0     Sofía García    21      Ingeniería de Software    92
1      Carlos Ruiz    23                    Medicina    85
2       Ana Torres    20                Arquitectura    79
3    Pablo Jiménez    22                     Derecho    95
4      María López    19                  Psicología    88
5    Daniel Vargas    24                    Biología    71
6   Valeria Castro    21              Diseño Gráfico    90
7      Javier Mora    20  Administración de Empresas    83
8    Lucía Herrera    22                     Química    76
9  Ricardo Navarro    23                  Literatura    98


El promedio de edad es:  21.5
El promedio de nota es:  85.7

Muestra únicamente las columnas Nombre y Nota
             Nombre  Nota
0     Sofía García    92
1      Carlos Ruiz    85
2       Ana Torres    79
3    Pablo Jiménez    95
4      María López    88
5    Daniel Vargas    71
6   Valeria Castro    90
7      Javier Mora    83
8    Lucía Herrera    76
9  Ricardo Navarro    98

In [1]:
import pandas as pd

#Crear un DataFrame desde un diccionario
data = {
    "Nombre": ["Ana", "Luis", "María", "Pedro"],
    "Edad": [23, 30, 21, 35],
    "Carrera": ["Ingeniería", "Medicina", "Economía", "Derecho"],
    "Nota": [85, 90, 78, 92]
}

df = pd.DataFrame(data)

# Mostrar el DataFrame
print(df)

# Primeras filas
print(df.head())

# Info general
print(df.info())

# Estadísticas básicas
print(df.describe())

# Guardar el DataFrame como CSV
df.to_csv("../../datasets/day2/estudiantes.csv", index=False)

# Leer un CSV existente
df_csv = pd.read_csv("../../datasets/day2/estudiantes.csv")
print(df_csv)

# Selección de columnas
print(df["Nombre"])          # Una columna
print(df[["Nombre", "Nota"]]) # Varias columnas

# Selección de filas por índice
print(df.iloc[0])   # Primera fila
print(df.iloc[1:3]) # Filas 1 y 2

# Selección condicional
print(df[df["Nota"] > 85]) # Filas donde Nota > 85

  Nombre  Edad     Carrera  Nota
0    Ana    23  Ingeniería    85
1   Luis    30    Medicina    90
2  María    21    Economía    78
3  Pedro    35     Derecho    92
  Nombre  Edad     Carrera  Nota
0    Ana    23  Ingeniería    85
1   Luis    30    Medicina    90
2  María    21    Economía    78
3  Pedro    35     Derecho    92
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nombre   4 non-null      object
 1   Edad     4 non-null      int64
 2   Carrera  4 non-null      object
 3   Nota     4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes
None
            Edad       Nota
count   4.000000   4.000000
mean   27.250000  86.250000
std     6.448514   6.238322
min    21.000000  78.000000
25%    22.500000  83.250000
50%    26.500000  87.500000
75%    31.250000  90.500000
max    35.000000  92.000000
  Nombre  Edad     Carrera  Nota
0    Ana    23  Ingeniería    85
1   Luis    30    Medicina    90
2  María    21    Economía    78
3  Pedro    35     Derecho    92
0      Ana
1     Luis
2    María
3    Pedro
Name: Nombre, dtype: object
  Nombre  Nota
0    Ana    85
1   Luis    90
2  María    78
3  Pedro    92
Nombre            Ana
Edad               23
Carrera    Ingeniería
Nota               85
Name: 0, dtype: object
  Nombre  Edad   Carrera  Nota
1   Luis    30  Medicina    90
2  María    21  Economía    78
  Nombre  Edad   Carrera  Nota
1   Luis    30  Medicina    90
3  Pedro    35   Derecho    92